body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.MuiPaper-root{
  width:12rem;
}

.background-body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  filter: blur(7px);
  opacity: 0.8;
  width: 100vw;
  z-index: -1;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.animate__delay-1 {
  --animate-delay: .4s;
}

.animate__delay-2 {
  --animate-delay: .6s;
}

.animate__delay-3 {
  --animate-delay: .8s;
}

.animate__delay-4 {
  --animate-delay: 1s;
}

.animate__delay-5 {
  --animate-delay: 1.2s;
}

.animate__delay-6 {
  --animate-delay: 1.4s;
}

.animate__delay-7 {
  --animate-delay: 1.6s;
}

.animate__delay-8 {
  --animate-delay: 1.8s;
}

.animate__delay-9 {
  --animate-delay: 2s;
}

.animate__delay-10 {
  --animate-delay: 2.2s;
}

@media (max-width:767px ) {
  .slick-slider {
    overflow: hidden;
    cursor: pointer;
    max-height: 100%;
    width:  calc(100vw - 4rem);
    margin-bottom: 1.5rem;
  }
}

@media (min-width:768px ) {
  .slick-slider {
    overflow: hidden;
    cursor: pointer;
    max-height: 32rem;
    width:  100%;
    margin-bottom: 1.5rem;
  }
}

